<div class="form-checkbox">
  <%= @builder.label(@input.name, **@context.label_arguments) do %>
    <%= @builder.check_box(@input.name, **@context.input_arguments) %>
    <%= @input.label %>
  <% end %>
  <%= render(Caption.new(input: @input, form: @form, context: @context)) %>
</div>
